.content {
    background-color: black;
    padding: 10px 10px 10px 10px;
}

@media screen and (min-width: 480px) {
    .flex-hero {
        
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .center-content {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .hero-button {
        display: flex;
        border-style: solid;
        border-width: 3px;
        border-color: white;
        color: white;
        width: 30vw;
        letter-spacing: 5px;
        margin: 5px;
        cursor: pointer;
        font-family: 'UrbanJungleDEMO';
        font-size: 50px;
        align-items: center;
        justify-content: center;
    }

    .button-back {
        display: flex;
        opacity: 0.9;
        height: 50vh;
    }

    .hero-button:hover {        
        width: 30vw;        
        letter-spacing: 5px;
        margin: 5px;
        cursor: pointer;
    }

    .button-back:hover {
        background-color: white;
        opacity: 1;
    }

    .music {
        background-image: url('images/music.jpeg');
    }

    .video {
        background-image: url('images/video.jpeg');
    }

    .marketing {
        background-image: url('images/marketing.jpeg');
    }
}

@font-face {
    font-family: UrbanJungleDEMO;
    src: url('fonts/UrbanJungleDEMO.otf');
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: mediumaquamarine;
    height: 100%
}

.flex-item {
    background-color: white;
    margin: 5px;
    padding: 5px;
    font-size: 50px
}


@media screen and (max-width: 480px) {
    .flex-hero {
        
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .center-content {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .button-back {
        display: flex;
        flex-grow: 1;
        
        width: 100%;
        align-items: center;
    }

    .music {
        background-image: url('images/music.jpeg');
    }

    .video {
        background-image: url('images/video.jpeg');
    }

    .marketing {
        background-image: url('images/marketing.jpeg');
    }

    .hero-button {
        display: flex;
        color: white;
        width: 30vw;
        letter-spacing: 5px;
        margin: 5px;
        cursor: pointer;
        font-family: 'UrbanJungleDEMO';
        font-size: 50px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

        /*.hero-button:hover {
            width: 30vw;
            color: white;
            letter-spacing: 5px;
            margin: 5px;
            cursor: pointer;
        }*/
}
