.header {
    display: flex;
}

.content {
    background-color: black;
    padding: 10px 10px 10px 10px;
}

.logo {
    width: 12vw;
}

.div-nav {
    justify-content: flex-end;
    flex-grow: 100
}

.video-hero {
    background-image: url("./images/video-large.jpeg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
    .navigation-wide {
        display: flex;
        list-style-type: none;
        background-color: black;
        color: white;
        align-items: center;
        justify-content: space-evenly;
    }

    .navigation-narrow {
        display: none;
    }

    .nav-item {
        margin: 10px;
    }

    .nav-end {
        height: 40px;
    }

    .flex-hero {
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 60vh;
        display: flex;
        flex-wrap: wrap;
    }

    .center-content {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .hero-button {
        display: flex;
        border-style: solid;
        border-width: 3px;
        border-color: white;
        color: white;
        width: 30vw;
        letter-spacing: 5px;
        margin: 5px;
        cursor: pointer;
        font-family: 'UrbanJungleDEMO';
        font-size: 50px;
        align-items: center;
        justify-content: center;
    }

    .button-back {
        display: flex;
        opacity: 0.9;
        height: 50vh;
    }

    .hero-button:hover {
        width: 30vw;
        letter-spacing: 5px;
        margin: 5px;
        cursor: pointer;
    }

    .button-back:hover {
        background-color: white;
        opacity: 1;
    }

    .music {
        background-image: url('images/music.jpeg');
    }

    .video {
        background-image: url('images/video.jpeg');
    }

    .marketing {
        background-image: url('images/marketing.jpeg');
    }
}

@font-face {
    font-family: UrbanJungleDEMO;
    src: url('fonts/UrbanJungleDEMO.otf');
}

@font-face {
    font-family: LiberationSans-Regular;
    src: url('fonts/LiberationSans-Regular.ttf');
}

@font-face {
    font-family: LiberationSans-Bold;
    src: url('fonts/LiberationSans-Bold.ttf');
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    font-family: 'LiberationSans-Regular';
}

    .flex-container p {
        font-size: 30px;
        font-weight: 300;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .flex-container .feature-container {
        display: flex;
    }

    .flex-container .feature {
        background-color: #f4f4f4;
        height: 50vh;
        width: 30vw;
        margin: 5px;
        display: flex;
        flex-direction: column;
        transition: all 0.3s linear 0s;
        -webkit-transition: all 0.3s linear 0s;
    }

.feature-image {
    height: 30vh;
    margin: auto;
    transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
}

.feature-image:hover {
    height: 40vh;
    margin: auto
}

/*.feature:hover {
    border-style: solid;
    border-color: lightgray;
    border-width: 10px;
}*/

.feature-container span {
    margin: auto
}

.flex-item {
    background-color: white;
    margin: 5px;
    padding: 5px;
    font-size: 50px
}


@media screen and (max-width: 480px) {
    .navigation-narrow {
        display: flex;
        justify-content: flex-end;
    }

    .navigation-wide {
        display: none;
    }

    .overlay {
        display: flex;
        height: 100vh;
        width: 100vw;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }

        .overlay .closebtn {
            margin-bottom: auto;
            font-size: 60px;
            color: white;
            cursor: pointer;
        }

    .overlay-content {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100vw;
        text-align: center;
    }

        .overlay-content li {
            color: white;
            align-content: space-around;
            list-style: none;
        }

    .flex-hero {
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .center-content {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .button-back {
        display: flex;
        flex-grow: 1;
        width: 100%;
        align-items: center;
        margin-bottom: 5px
    }

    .music {
        background-image: url('images/music.jpeg');
    }

    .video {
        background-image: url('images/video.jpeg');
    }

    .marketing {
        background-image: url('images/marketing.jpeg');
    }

    .hero-button {
        display: flex;
        color: white;
        width: 30vw;
        letter-spacing: 5px;
        margin: 5px;
        cursor: pointer;
        font-family: 'UrbanJungleDEMO';
        font-size: 50px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .flex-container p {
        font-size: 18px;
        font-weight: 300;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .flex-container .feature-container {
        display: flex;
        flex-direction:column;
    }

    .flex-container .feature {
        background-color: #f4f4f4;
        height: 50vh;
        width: 80vw;
        margin: 5px;
        display: flex;
        flex-direction: column;
        transition: all 0.3s linear 0s;
        -webkit-transition: all 0.3s linear 0s;
    }

    /*.hero-button:hover {
            width: 30vw;
            color: white;
            letter-spacing: 5px;
            margin: 5px;
            cursor: pointer;
        }*/
}
